.wrappHomeDiv{
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(../image/foneGarosch.jpg);
	background-attachment: fixed;
	-webkit-background-size: auto;
	background-size: cover;
}
 
.contentHome{
	color: #FFFFFFDB;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	background-color: #00000085;
	width: auto;
 	text-align: center;
 	margin-left: 140px;
 	margin-right: 140px;
 	padding-bottom: 200px;
 	padding-left: 140px;
 	padding-right: 140px;
 	font-family: 'Marmelad';
	font-size: 25px;
}

