.wrappDiv {
	height: 100%;
	min-height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(../image/Proff_Fone.jpg);
	background-attachment: fixed;
	-webkit-background-size: auto;
	background-size: cover;
}

/*Блок отображения текста*/
.ProffDiv{
	width: auto;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	background-color: #00000046;
	border-radius: 10px;
 	text-align: center;
 	margin-left: 140px;
 	margin-right: 140px;
 	padding-left: 140px;
 	padding-right: 140px;
 	font-family: 'Marmelad';
	font-size: 25px;
 	min-height: auto;
 	height: 400px;
 	overflow-x: hidden;
}

.ProffDiv > p{
	font-size: 20px;
	font-family: Bradley Hand, cursive;
}

/*Меню профессий*/
.GridTitle {
	width: auto;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	background-color: rgba(60,60,60,0.5);
	border-radius: 2px;
 	text-align: center;
 	padding-bottom: 200px;
 	font-family: 'Marmelad';
	font-size: 25px;
 	width: auto;
 	min-height: auto;
 	height: 2000px;
 	max-height: auto;
}
/*______________________________________________________________________________________*/

/*Бокове меню профессий */
.proffMenu{
  height: auto;
  width: auto;
  float: left;
  margin: 7px 7px 7px 0;

  
}

.proffMenu > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Общие стили кнопок*/
.menuButton{
  color: #F0EE0EFF;
  text-shadow: 1px 1px 1px black,
               -1px 1px 1px black;
  height: 100px;
  width: 380px;


  background-color:#6fba26;
  padding:10px;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
  border-radius: 5px;
}
.menuButton:focus{
  top:7px;
  color: #F3550B;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.3);

}

.menuButton::before {
  /*background-color:#072239;*/
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding-left:2px;
  padding-right:2px;
  padding-bottom:4px;
  left:-2px;
  top:5px;
  z-index:-1;
  border-radius: 6px;
  box-shadow: 0px 1px 0px #fff;
}

.menuButton:active::before {
  top:-2px;
}

.menuButton:hover{
  border: 2px solid #DBEA14FF;
}

.menuButton > h3{
  font-size: 25px;
}

/*отдельные*/
.butAlchemy{
  background-image: url(../image/bg_tabletProfs/alchemy.jpeg);
}

.butMining{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/mining.jpeg);
}

.butEngineering{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/engineering.jpeg);
}

.butLeather{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/leatherworking.jpeg);
}

.butBlacksmith{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/blacksmith.jpeg);
}

.butEnchantment{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/enchantment.jpeg);
}

.butIncsription{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/inscription.jpeg);
}

.butTailloring{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/tailloring.jpeg);
}

.butSkinning{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/skinning.jpeg);
}

.butHerbalism{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/herbalism.jpeg);
}

.butJevelcrafting{
  margin-top: 10px;
  background-image: url(../image/bg_tabletProfs/jevelcrafting.jpeg);
}