.wrappProffDiv {
  
  /*text-align: center;*/
  background-image: url(../../image/Proff_Fone.jpg);
  background-attachment: fixed;
  -webkit-background-size: auto;
  background-size: cover;
}

/*Блок отображения текста*/
.ProffDiv{
  color: white;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  background-color: #00000046;
  border-radius: 10px;
  font-size: bold;
   overflow-x: hidden;
  margin-bottom: 10px;
}

.ProffDiv > p{
  font-size: 20px;
}

/*Меню профессий*/
.ProffMenu{
  color: white;
}

.GridTitle {
  width: auto;
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  background-color: rgba(60,60,60,0.5);
  background-image: url(../../image/Profs/bgContent.jpg);
  -webkit-background-size: auto;
  background-size: cover;
  border-radius: 2px;
   padding-bottom: 200px;
   padding-top: 5px;
   width: auto;
}

.anchor{
  text-decoration: none;
  color: white;   
}

.anchor:hover{
  text-decoration: none;
    color: white;
}

/*Стили информационного блока*/

.bgAdvantage{
  background-image: url(../../image/Profs/bgAdvantage.jpg);
  -webkit-background-size: auto;
  background-size: cover;
}

.bgManual{
  background-image: url(../../image/Profs/bgManual.jpg);
  -webkit-background-size: auto;
  background-size: cover;
  margin-bottom: 10px;
}

/*Стили className которых находится в хранилище*/
.itemInfo{
  color: #AE9C40EE;
}
.itemInfo>h2{
  color: #D6D6D6E5;
  text-align: center;
}

.itemManual{
  color: #D0B53EFF;
}
.itemManual>h4,
.itemManual>p>span{
  color: #D6D6D6E5;
}

.itemAdvantage{
  color: #AE9C40E0;
}
.itemAdvantage>h4{
  color: #F77235D9;
}
.itemAdvantage>p>span{
  color: #D6D6D6E5;
}


/*______________________________________________________________________________________*/

/*отдельные*/
.but{
  -webkit-background-size: auto;
  background-size: cover;
}

.but>h4{
  color:#F5CC18FF;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.but>a{
  color:#F5CC18FF;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.but>a:hover{
  text-decoration: none;
    color: #FFD83DFF;
}


.butAlchemy{
  margin-top: 10px;
  background-image: url(../../image/Profs/alchemy.jpeg);
}


.butMining{
  margin-top: 10px;
  background-image: url(../../image/Profs/mining.jpeg);
}

.butEngineering{
  margin-top: 10px;
  background-image: url(../../image/Profs/engineering.jpeg);
}

.butLeather{
  margin-top: 10px;
  background-image: url(../../image/Profs/leatherworking.jpeg);
}

.butBlacksmith{
  margin-top: 10px;
  background-image: url(../../image/Profs/blacksmith.jpeg);
}

.butEnchantment{
  margin-top: 10px;
  background-image: url(../../image/Profs/enchantment.jpeg);
}

.butIncsription{
  margin-top: 10px;
  background-image: url(../../image/Profs/inscription.jpeg);
}

.butTailloring{
  margin-top: 10px;
  background-image: url(../../image/Profs/tailloring.jpeg);
}

.butSkinning{
  margin-top: 10px;
  background-image: url(../../image/Profs/skinning.jpeg);
}

.butHerbalism{
  margin-top: 10px;
  background-image: url(../../image/Profs/herbalism.jpeg);
}

.butJevelcrafting{
  margin-top: 10px;
  background-image: url(../../image/Profs/jevelcrafting.jpeg);
}

@media screen and (max-width: 800px) {
   * {font-size: 10px;}
}

@media screen and (max-width: 1024px) {
   * {font-size: 14px;}
}

@media screen and (max-width: 1920px) {
   * {font-size: 16px;}
}