


/*padding-left: 140px;
padding-right: 140px;
*/
.grid-title{

}

.Alchemy{

}

/*.content{
  width: auto;
  background-color: rgba(60,60,60,0.5);
  border-radius: 15px;
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
  padding-bottom: 200px;
  font-family: 'Marmelad';
  font-size: 25px;
  width: auto;
  min-height: auto;
  height: 1000px;
  max-height: auto;
  display: block;
  /*overflow-x: hidden;*/


.proffMenu{
  height: 100%;
  width: auto;
  border: 1px solid black;
  float: left;
  margin: 7px 7px 7px 0;
  
}

.proffMenu > ul{
  padding-top: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuButton{
  height: 60px;
  width: 180px;
}
.menuButton:focus{
  background-color: #FE7;
}