


/*Стиль проффессий*/
/*.proffStyled{
 	text-align: center;
 	height: 100%;
 	padding-left: 40px;
 	 padding-right: 40px;
 	 padding-bottom: 200px;
  	font-family: 'Marmelad';
  	font-size: 25px;
 	background-image: url(image/foneGarosch.jpg);
 	background-attachment: fixed;
  	-webkit-background-size: auto;
 	background-size: cover;
}

.headerStyled{
	margin: 0px;
	width: auto;
	height: 150px;
	padding: 0;
	padding-top: 50px;
	background-image: url(image/headerFone.png);
	background-size: cover;
	border-radius: 10px;
	text-align: center;
}

.butCont{
	width: 1200px;
	margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.butHeader{
	height: 60px;
	min-height: auto;
	width: 180px;
	min-width: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	padding: auto;
	border-radius: 10px;
	background-image: url(image/fireButt.jpg);
	background-position: -130px -40px;
	color: white;
	font-weight: bold;
}

.butHeader:hover{
	background-image: url(image/butLich.png);
	color: #FFF;
}*/
/*padding-left: 140px;
padding-right: 140px;
*/
.grid-title{

}

.Alchemy{

}


